

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-footer">
            <a class="navbar-brand"href="../views/User/profile.view.client.html">
                <scan class="glyphicon glyphicon-menu-left"></scan>
            </a>
            <a class="navbar-brand" href="website-new.view.client.html">
                Websites
            </a>
            <p class="navbar-text pull-right">
                <a href="website-new.view.client.html" class="navbar-link">
                      <span class="glyphicon glyphicon-plus">
                      </span>
                </a>
            </p>
        </div>
    </div>
</nav>


<div class="container-fluid">
    <table class="table table-striped">
        <tbody>
        <tr>
            <td><a href="../views/Page/page-list.html">Blogging App</a></td>
            <td>
                <a href="website-edit.html">
                    <scan class="glyphicon glyphicon-cog"></scan>
                    <scan class="glyphicon glyphicon-play"></scan>
                </a>
            </td>
        </tr>
        <tr>
            <td><a href="../views/Page/page-list.html">Blogging App</a></td>
            <td>
                <a href="website-edit.html">
                    <scan class="glyphicon glyphicon-cog"></scan>
                    <scan class="glyphicon glyphicon-play"></scan>
                </a>
            </td>
        </tr>
        <tr>
            <td><a href="../views/Page/page-list.html">Blogging App</a></td>
            <td>
                <a href="website-edit.html">
                    <scan class="glyphicon glyphicon-cog"></scan>
                    <scan class="glyphicon glyphicon-play"></scan>
                </a>
            </td>
        </tr>
        <tr>
            <td><a href="../views/Page/page-list.html">Blogging App</a></td>
            <td>
                <a href="website-edit.html">
                    <scan class="glyphicon glyphicon-cog"></scan>
                    <scan class="glyphicon glyphicon-play"></scan>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-footer">
            <p class="navbar-text pull-right">
                <a href="../views/User/profile.view.client.html" class="navbar-link">
                      <span class="glyphicon glyphicon-user">
                      </span>
                </a>
            </p>
        </div>
    </div>
</nav>
