
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-footer">
            <a class="navbar-brand"href="#/user/{{model.route.uid}}/website/{{model.route.wid}}/page">
                <scan class="glyphicon glyphicon-menu-left"></scan>
            </a>
            <a class="navbar-brand" href="#">
                New Page
            </a>
            <p class="navbar-text pull-right">
                <a ng-click="model.createPage(page.name)" class="navbar-link">
                      <span class="glyphicon glyphicon-ok">
                      </span>
                </a>
            </p>
        </div>
    </div>
</nav>

<form>
    <div class="form-group">
        <label for="pageName">Name</label>
        <input ng-model="page.name" type="text" class="form-control" id="pageName" placeholder="Name">
    </div>
    <div class="form-group">
        <label for="pageDescription">Description</label>
        <textarea ng-model="page.description" type="text" class="form-control" id="pageDescription" rows="10" placeholder="Description"></textarea>
    </div>
</form>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-footer">
            <p class="navbar-text pull-right">
                <a href="#/profile/{{model.route.uid}}" class="navbar-link">
                      <span class="glyphicon glyphicon-user">
                      </span>
                </a>
            </p>
        </div>
    </div>
</nav>