
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-footer">
            <a class="navbar-brand"href="../website-list.html">
                <scan class="glyphicon glyphicon-menu-left"></scan>
            </a>
            <a class="navbar-brand" href="#">
                Pages
            </a>
            <p class="navbar-text pull-right">
                <a href="page-new.view.client.html" class="navbar-link">
                      <span class="glyphicon glyphicon-plus">
                      </span>
                </a>
            </p>
        </div>
    </div>
</nav>


<div class="container-fluid">
    <table class="table table-striped">
        <tbody>
        <tr>
            <td><a href="../Widget/widget-list.view.client.html">Blog Post</a></td>
            <td>
                <a href="page-edit.view.client.html">
                    <scan class="glyphicon glyphicon-cog"></scan>
                </a>
            </td>
        </tr>
        <tr>
            <td><a href="../Widget/widget-list.view.client.html">Blogs</a></td>
            <td>
                <a href="page-edit.view.client.html">
                    <scan class="glyphicon glyphicon-cog"></scan>
                </a>
            </td>
        </tr>
        <tr>
            <td><a href="../Widget/widget-list.view.client.html">Home</a></td>
            <td>
                <a href="page-edit.view.client.html">
                    <scan class="glyphicon glyphicon-cog"></scan>
                </a>
            </td>
        </tr>
        <tr>
            <td><a href="../Widget/widget-list.view.client.html">About</a></td>
            <td>
                <a href="page-edit.view.client.html">
                    <scan class="glyphicon glyphicon-cog"></scan>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-footer">
            <p class="navbar-text pull-right">
                <a href="../User/profile.view.client.html" class="navbar-link">
                      <span class="glyphicon glyphicon-user">
                      </span>
                </a>
            </p>
        </div>
    </div>
</nav>
