
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-footer">
            <a class="navbar-brand"href="../website-list.html">
                <scan class="glyphicon glyphicon-menu-left"></scan>
            </a>
            <a class="navbar-brand" href="#">
                Pages
            </a>
            <p class="navbar-text pull-right">
                <a href="page-new.view.client.html" class="navbar-link">
                      <span class="glyphicon glyphicon-plus">
                      </span>
                </a>
            </p>
        </div>
    </div>
</nav>


<div class="container">
    <ul class="list-group">
        <li ng-repeat="page in model.pages" class="list-group-item">
            <a href="#/user/{{model.route.uid}}/website/{{page.websiteId}}/page/{{page._id}}/widget">{{page.name}}</a>
            <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{page.id}}" class="pull-right">
                <span class="glyphicon glyphicon-cog"></span>
                <span class="glyphicon glyphicon-play"></span>
            </a>
        </li>
    </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-footer">
            <p class="navbar-text pull-right">
                <a href="#/profile/{{model.route.uid}}" class="navbar-link">
                      <span class="glyphicon glyphicon-user">
                      </span>
                </a>
            </p>
        </div>
    </div>
</nav>
