
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="navbar-brand">
                <a href="widget-list.view.client.html">
                    <scan class="glyphicon glyphicon-menu-left"></scan>
                </a>
                Choose Widget
            </div>
        </div>
    </div>
</nav>


<div class="container-fluid">
    <table class="table table-striped">
        <tbody>
        <tr>
            <td><a href="widget-header.view.client.html">Header</a></td>
        </tr>
        <tr>
            <td><a href="#">Label</a></td>

        </tr>
        <tr>
            <td><a href="#">HTML</a></td>

        </tr>
        <tr>
            <td><a href="#">Text Input</a></td>

        </tr>
        <tr>
            <td><a href="#">Link</a></td>

        </tr>
        <tr>
            <td><a href="#">Button</a></td>

        </tr>
        <tr>
            <td><a href="widget-image.view.client.html">Image</a></td>
        </tr>
        <tr>
            <td><a href="widget-youtube.view.client.html">Youtube</a></td>

        </tr>
        <tr>
            <td><a href="#">Data Table</a></td>

        </tr>
        <tr>
            <td><a href="#">Repeater</a></td>
            
        </tr>
        </tbody>
    </table>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-footer">
            <p class="navbar-text pull-right">
                <a href="../../../views/User/profile.view.client.html" class="navbar-link">
                      <span class="glyphicon glyphicon-user">
                      </span>
                </a>
            </p>
        </div>
    </div>
</nav>