

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-footer">
            <a class="navbar-brand" href="#/user/{{model.route.uid}}/website/{{model.route.wid}}/page">
                <scan class="glyphicon glyphicon-menu-left"></scan>
            </a>
            <a class="navbar-brand" href="#">
                Widgets
            </a>
            <p class="navbar-text pull-right">
                <a href="widget-choose.view.client.html" class="navbar-link">
                      <span class="glyphicon glyphicon-plus">
                      </span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container">
    <div ng-repeat="widget in model.widgets" ng-switch on="widget.widgetType">

        </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-footer">
            <p class="navbar-text pull-right">
                <a href="#/profile/{{model.route.uid}}" class="navbar-link">
                      <span class="glyphicon glyphicon-user">
                      </span>
                </a>
            </p>
        </div>
    </div>
</nav>